/* set default values */
* {
    margin: 0;
    border: none;
    padding: 0;
    /*background-color: #484d5c;*/
}

/* applying font styles to the body */

body {
    font-family: 'Times New Roman', Times, serif;
    
    color: #3a3a3a;
}

/* style company logo and menu bar */
#Company-logo{
    font-size: 24px;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}
#menu li{
    list-style: none;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    }

#image {
    height:600px;
    width:100%;
    overflow: hidden;
    position:relative;
}
#motive-words, #motive-words h2{
    color: rgb(195, 36, 36);
}
#main-image {
    height:600px;
    width:100%;
    background: url('../images/chemini.jpg') no-repeat center center;
    background-size: cover;
    height: 100%; 
   
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* animates zoom effect on loading page*/
    animation-name:hero-zoom;
    animation-duration:5s;
    animation-fill-mode:forward;
}

#motive-words{
    font-size: 130%;
    font-family: oswal, sans-serif;
    text-align: center;
    
    letter-spacing:4px;

    width:400px;
    height:200px;
    
    padding-top:40px;
    padding-left:10px;

    background-color: rgb(77, 60, 60);

    bottom:30px;
    right:150px;

    position: absolute;

}
#product-features {
    height: 400px;
    padding-top: 30px;
}

#product-features>h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 250%;
}

.feature {

    padding-top: 30px;
    width: 20%;
    height: 200px;
    float: left;
    padding: 15px 0;
    margin: 0 35px;

}

.feature h3,
.feature p {
    text-align: center;
}

.feature p {
    padding: 10px 20px;
}

.feature h3 {
    font-size: 180%;
}

/* class types and times */


#open-days {
    width: 100%;
    height: 300px;
    clear: both;
    background-color: black;
}

#open-days h3 {
    color: #c0ccd4;
    font-size: 150%;
    color: wheat;
}

#open-days h2 {
    font-size: 200%;
    color: chocolate;
}

#open-days>#location {
    text-align: center;
    font-size: 250%;
    padding-top: 25px;
    color: chocolate;

}

#open-days div {
    height: 250px;
    width: 20%;
    float: left;
    padding: 30px 0 0 10px;
    box-sizing: border-box;
    text-align: center;

}
